.searchdiv {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 650px;
}

span.big {
    font-size: 1.6rem;    
}

#advancedoptions{
    width: 66% !important;
    text-align: center;
}

header{
    z-index: 9999999999999;
}

div.headercontainer {
    background-color:#202124;
    text-align: center;
    z-index: 9999999999999;
}