{% extends "common.html" %}

{% block content %}
<div class="searchdiv">
    
    <form action="/search" method="get" onsubmit="generate_config();">
        <input type="text" name="query" id="queryinput" placeholder="Find files...">
        <br>
        <input type="hidden" name="config" id="configinput">
        <center>
            <details id="advancedoptions">
                <summary>Advanced Options</summary>
                <p><b>WARNING</b>: It's not my problem if you break something. Have fun :)</p>
                <fieldset>
                    <legend>Searchers</legend>
                    {% for option in options_searchers %}
                    <input type="checkbox" id="advanced_{{ option['id'] }}" checked>
                    <label style="display: unset" for="advanced_{{ option['id'] }}">{{ option['name'] }}</label>
                    {% endfor %}
                </fieldset>
                <fieldset>
                    <legend>Filters</legend>
                    {% for option in options_filters %}
                    <input type="checkbox" id="advanced_{{ option['id'] }}">
                    <label style="display: unset" for="advanced_{{ option['id'] }}">{{ option['name'] }}</label>
                    {% endfor %}
                </fieldset>
                <fieldset>
                    <legend>Sorters</legend>
                    {% for option in options_sorters %}
                    <input type="checkbox" id="advanced_{{ option['id'] }}" checked>
                    <label style="display: unset" for="advanced_{{ option['id'] }}">{{ option['name'] }}</label>
                    {% endfor %}
                </fieldset>
                <fieldset>
                    <legend>Other Options</legend>
                    <input type="checkbox" id="legacy_check" name="legacy">
                    <label style="display: unset" for="legacy_check">Use legacy (single-chunk) search mode</label>
                </fieldset>
            </details>
        </center>
        <br>
        <center><input type="submit" value="Search!"></center>
    </form>
</div>
{% endblock %}

{% block scripts %}
<script>
    const options_json = {{ options_json|safe }};
</script>
<script src="/static/genconf.js"></script>
{% endblock %}