{% extends "common.html" %}

{% block content %}
<form action="/search" method="get">
    <input type="text" name="query" id="queryinput" placeholder="Find files...">
    <br>
    <input type="hidden" name="config" id="configinput">
    <center><input type="submit" value="Search!"></center>
</form>

<div class="searchdiv" id="resultdiv">
    <center>
        <span class="big">Searching...</span>
    </center>
</div>
<div id="results"></div>
{% endblock %}

{% block scripts %}
<script src="/static/search.js"></script>
{% endblock %}